.team-heading {
  background-color: purple;
  color: #ffffff;
}

body {
  background-color: white;
}

.team-area {
  
  margin: 3em auto; 
  flex-wrap: wrap;
}

.employee-card {
  width: 80%;
  margin: 1em;
  color: black;
  background-color: grey;
  max-width: 280px;
  border: none;

}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f6f7f8;
}